.color1 {
  background-color: #379cd2;
}
.fondo1 {
  background-image: linear-gradient(45deg, #379cd2, #4cb1e7);
}
.boton1 {
  border-radius: 30px;
  background-color: white;
  color: #4cb1e7;
}

.boton2{
background-color: #5fbfe5;
border-radius: 30px;
color: white;
}

.boton3{
  background-color: white;
  border-radius: 30px;
  color: black;

  }

.boton1:hover {
  background-color: gainsboro;
  color: black;
}

.boton2:hover {
  background-color: #5cb7db;
  color: white;
}

.boton3:hover {
  background-color: #5cb7db;
  color: white;
